<p id="notice"><%= notice %></p>

<p>
  <strong>From date:</strong>
  <%= @leave.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @leave.to_date %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @leave.reason %>
</p>

<p>
  <strong>Status:</strong>
  <%= @leave.status %>
</p>

<%= link_to 'Edit', edit_leave_path(@leave) %> |
<%= link_to 'Back', leaves_path %>
